{% include 'header.twig' %}

<div class="alignementleft type contenu">
	<p>
		<strong>Titre : </strong>{{detail.titre}}
	</p>
	<p>
		<strong>Auteur : </strong>{{detail.auteur}}
	</p>
	<p>
		<strong>Etat : </strong>{{etat.etat}}
	</p>
	{% if detail.id_etat == 3 %}
	<p>
		<strong>Date retour : </strong>{{ emp.created_at|date_modify("+15 day")}}
	</p>
	{%endif%}
	<p>
		<strong>Descriptif : </strong>{{detail.descriptif}}
	</p>
</div>

<div class="retour alignementcenter">
	<a href="listeDocument{{detail.id_type}}" class="btn-small">Retour</a>
</div>

{% include 'footer.twig' %}
