<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="col8">
  <header>
    <div class="alignementcenter">
        <a href="index.php"><img  src="images/logo.png" alt="valide" class="col3"></a>
       
    </div>
    <div>
        <ul class=" flex-container navbar">
            <li><a href="index.php">Accueil</a></li>
            <li><a href="recherche">Rechercher Documents</a></li>
        </ul>
    </div>
</header>

<section>
