{% include 'header.twig' %}

<div>
	<h5>Liste des types</h5>
</div>


  {% for type in liste %}

    <div class="alignementleft type contenu" id="{{type.type|lower}}">
      <img  src="{{type.src_image}}" alt="logo">
    	<a href="listeDocument{{ type.id }}">{{type.type}}</a>
    </div>
  {% endfor %}

{% include 'footer.twig' %}
