{% include 'header.twig' %}
<script>
        function refuserToucheEntree(event)
        {
            // Compatibilité IE / Firefox
            if(!event && window.event) {
                event = window.event;
            }
            // IE
            if(event.keyCode == 13) {
                event.returnValue = false;
                event.cancelBubble = true;
            }
            // DOM
            if(event.which == 13) {
                event.preventDefault();
                event.stopPropagation();
            }
        }
</script>
<h5>Inscription</h5>

<form class="col8" action="{{lien}}" method="post">
	<input class="col8" id="num" type="number" min="1" placeholder="<Numéro Adhérent>" onkeypress="refuserToucheEntree(event);" required/>
	<input class="col8" name="login" type="text" placeholder="<Identifiant>" onkeypress="refuserToucheEntree(event);" required/>
	<input class="col8" name="mdp" type="password" placeholder="<MDP>" onkeypress="refuserToucheEntree(event);" required/>
	<input class="col8" name="conf" type="password" placeholder="<Confirmation MDP>" onkeypress="refuserToucheEntree(event);" required/>
	<input type="submit" value="Inscription" class="btn-small btn-green off2 col4" />
</form>
{% include 'footer.twig' %}