{% include 'header.twig' %}
<h3>Liste des  <em>Documents</em> </h3>
{% for docs in documents %}
<div class="alignementleft type contenu" id='{{docs.documents.titre|lower}}'>
  <h4 class="alignementcenter">Titre : <a href="fiche{{docs.documents.id}}">{{docs.documents.titre}}</a></h4>
  <p><strong>Auteur : </strong>{{docs.documents.auteur}}</p>
  <p><strong>Descriptif : </strong>{{docs.documents.descriptif}}</p>
  <p><strong>Etat : </strong>{{docs.etat}}</p>
</div>
{% endfor %}
{% include 'footer.twig' %}
