{% include 'header.twig' %}

<form class="col8" action="listeDoc" method="post">
  <input class="col8" type="text" placeholder="<Mots-clés>" name="mot" />
  <select class="col8" name="type">
      <option value="">--Types--</option>
      {% for type in lt %}
      <option value="{{ type.id }}">{{type.type}}</option>
      {% endfor %}
  </select>
  <select class="col8" name="genre">
      <option value="">--Genres--</option>
      {% for genre in lg %}
      <option value="{{ genre.id }}">{{genre.reference}}</option>
      {% endfor %}
  </select>
  <select class="col8" name="etat">
      <option value="">--Etats--</option>
      {% for etat in le %}
      <option value="{{ etat.id }}">{{etat.etat}}</option>
      {% endfor %}
  </select>

  <button type="submit" class="btn-small btn-green off2 col4">Rechercher</button>
</form>

{% include 'footer.twig' %}