{% include 'header.twig' %}
<h3>Résultat de recherche </h3>
{% for docs in documents %}
<div class="alignementleft type contenu" id='{{docs.titre|lower}}'>
  <h4 class="alignementcenter">Titre : <a href="fiche{{docs.id}}">{{docs.titre}}</a></h4>
  <p><strong>Auteur : </strong>{{docs.auteur}}</p>
  <p><strong>Descriptif : </strong>{{docs.descriptif}}</p>
  <p><strong>Etat : </strong>{{docs.id_etat}}</p>
</div>
{% endfor %}
{% include 'footer.twig' %}
