{% include 'header.twig' %}
<h5>Ajouter Document</h5>
<script type="text/javascript">
function verifCase(){
 var obj=document.getElementsByClassName("check");
 for(var i=0; i<obj.length;i++)
 {
    if(obj[i].checked==true){
      return true;
    }
  }
    document.getElementById("avert").innerHTML="Au moins un genre doit être selectionné";
    document.getElementById("avert").className="danger";
    return false;
}

</script>
<form id="add" class="col8" action="enregisterDoc" method="post" onSubmit="return verifCase();">
  <input class="col8" type="text" name="titre" placeholder="<Titre>" required/>
  <input class="col8" type="text" name="auteur" placeholder="<Auteur>" required/>
  <select class="col8" name="type" required>
      <option value="">--Type--</option>
    {% for type in lt %}
      <option value="{{ type.id }}">{{type.type}}</option>
    {% endfor %}
  </select>

  {% for genre in lg %}

  <input class="check" type="checkbox" name="genre[]" value="{{ genre.id }}"/>{{genre.reference|capitalize}}

  {% endfor %}
  <p id="avert"></p>
  <select class="col8" name="etat" required >
      <option value="">--Etat--</option>
    {% for etat in le %}
      <option value="{{ etat.id }}">{{etat.etat|capitalize}}</option>
    {% endfor %}
  </select>
  <textarea class="col8" name="descriptif" style="resize:none;" rows="10" placeholder="Description" required></textarea>
  <button type="submit" class="btn-small btn-blue off2 col4">Ajouter</button>
</form>

{% include 'footer.twig' %}
