{% include 'header.twig' %}
<h5>Ajouter Type</h5>

<form action="ajouterType" class="col8" method="post">
	<input class="col8" type="text" name="type" placeholder="<Type>" required>
	<input class="col8" type="file" name="image" placeholder="<Type>" required>
	<input type="submit" class="btn-xtlg btn-blue off2 col4" value="Ajouter">
</form>


{{ajType}}

{% include 'footer.twig' %}