{% include 'header.twig' %}
<h5>Ajouter Adhérent</h5>

<form class="col8" action="{{lien}}" method="post" > 
  <input class="col8" type="hidden" name="id" value="{{val.id}}"/>
  <input class="col8" type="text" name="nom" placeholder="<{{adh.nom}}>" value="{{val.nom}}"/ required>
  <input class="col8" type="text" name="prenom" placeholder="<{{adh.prenom}}>" value="{{val.prenom}}" required/>
  <textarea class="col8" name="adresse" placeholder="<{{adh.adresse}}>" required>{{val.adresse}}</textarea>
  <input class="col8" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" name="telephone" placeholder="<{{adh.telephone}}>" required value="{{val.telephone}}"/>
<input class="col8" type="email" name="email" placeholder="<{{adh.email}}>" required value="{{val.email}}"/>
  
  <button type="submit" class="btn-small btn-blue off2 col4">{{action}}</button>
  
</form>

{% if action=='Modifier' %}
  
  <form class="col8" action="supprimerAdh" method="post">
    <input class="col8" type="hidden" name="id" value="{{val.id}}"/>
    <button type="submit" class="btn-small btn-blue off2 col4">Supprimer</button>
  </form>

  {% endif %}


{% include 'footer.twig' %}