{% include 'header.twig' %}
<script>

        function empr() {
        	var n=document.getElementById("nbrEmprunt").value;
        	var txt="";
        	for (var i = 0; i < n; i++) {
        		txt += '<input class="col8 impo" name="docs[]" type="number" placeholder="<Référence document>" onkeypress="refuserToucheEntree(event);"/>';
        	};
        	document.getElementById("emprunts").innerHTML=txt;
          if(n>=1){
            a = document.getElementById("btn");
            a.style.visibility = "visible";
          }
        };
        function refuserToucheEntree(event)
        {
            // Compatibilité IE / Firefox
            if(!event && window.event) {
                event = window.event;
            }
            // IE
            if(event.keyCode == 13) {
                event.returnValue = false;
                event.cancelBubble = true;
            }
            // DOM
            if(event.which == 13) {
                event.preventDefault();
                event.stopPropagation();
            }
        }
</script>
<h5>{{action}} documents </h5>

<form class="col8" action="{{lien}}" method="post">
{% if action!='Rendre' %}
  {{ '<input class="col8" name="adh" type="number" placeholder="<Numéro Adhérent>" onkeypress="refuserToucheEntree(event);" required/>'}}
  {% endif %}
  <input class="col8" id="nbrEmprunt" type="number" min="1" placeholder="<Nombre Documents>" onkeypress="refuserToucheEntree(event);" required/>

  <input type="button" value="Envoyer" class="btn-small btn-green off2 col4" onclick="empr();"/>

  <div id="emprunts">


  </div>

  <input type="submit" value="{{action}}" id="btn" class="btn-small btn-green off2 col4" />

</form>

{% include 'footer.twig' %}
