<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body class="col8">
  <header>
    <div>
      <a href="index.php" class="col8 alignementcenter"><img  src="images/logo.png" alt="valide"></img></a>
    </div>
</header>

<section>
  
