{% include 'header.twig' %}

<h3 class="vert">{{ aj }}</h3>
<h3 class="vert">{{ ret }}</h3>
<h3 class="vert">{{ ajAdh }}</h3>
<h3 class="vert">{{ missadh }}</h3>
<h3 class="vert">{{ ajGenre }}</h3>

<div>
	<div class="type contenu">
		<h5>Gérer les emprunts</h5>
		<a href="emprunt" class="btn-xtlg btn-blue off2 col4">Enregistrer Emprunts</a>
		<a href="retour" class="btn-xtlg btn-blue off2 col4">Enregistrer Retours</a>
	</div>
	<div class="type contenu">
		<h5>Gérer les fonds documents</h5>
		<a href="ajoutDoc" class="btn-xtlg btn-blue off2 col4">Ajouter Document</a>
		<a href="retirerDoc" class="btn-xtlg btn-blue off2 col4">Gestion Documents</a>
		<a href="ajoutType" class="btn-xtlg btn-blue off2 col4">Ajouter Type</a>
		<form action="ajoutGenre" class="gestion" method="post">
			<input class="off1 col1" type="text" name="genre" placeholder="<Genre>" required>
			<input type="submit" class="btn-xtlg btn-blue col4" value="Ajouter Genre">
		</form>
	</div>
	<div class="type contenu">
		<h5>Gérer adhérents</h5>
		<a href="ajoutadh" class="btn-xtlg btn-blue off2 col4">Ajouter Adhérent</a>
		<form action="gestionadh" class="gestion" method="post">
			<input class="off1 col1" type="number" min="1" name="id" placeholder="<N° Adhérent>" required>
			<input type="submit" class="btn-xtlg btn-blue col4" value="Gérer Adhérents">
		</form>
	</div>	
</div>

{% include 'footer.twig' %}
