{% include 'header.twig' %}
<div class="type contenu alignementcenter">
	<h5>Nombre de documents : {{ docs|length }}</h5>
	<h5>{{err}}</h5>
	<h5>Numéro adhérent : {{ adh }}</h5>

	<h5>Liste des documents :
		{% for key, doc in docs %}
			{% if key == docs|length-1 %}
		    	{{doc}}.
		    {% else %}	
		    	{{doc}},
		    {% endif %}	
		{% endfor %}
		
	</h5>
	<div class="imprime">
	<a href="#" class="btn-small btn-green" onclick="window.print(); return false;">Imprimer</a>
	</div>
</div>
{% include 'footer.twig' %}