{% include 'header.twig' %}
<h5>Retirer Document</h5>
<form class="col8" action="retirer" method="post">
  <input class="col8" type="text" name="id" placeholder="<Reference>" required />
  <input type='submit' class="btn-small btn-blue off2 col4" name="retirer" value="Retirer" />
  <input type='submit' class="btn-small btn-blue off2 col4" name="remettre" value="Remettre" />
</form>
{% include 'footer.twig' %}
