{% include 'header.twig' %}

<h5>Retour documents </h5>

<form class="col8" action="listeDocument.html" method="post">
	<div>
  		<input class="col4" type="text" placeholder="<Numéro Adhérent>"/>
  		<a href="" class="btn-small btn-blue col3">Envoyer</a>
  	</div>

  	<div>
  		<input class="col4" type="text" placeholder="<Nombre Documents>"/>
  		<a href="" class="btn-small btn-blue col3">Editer récap</a>
  	</div>
  	
  	<div>
  		<a href="" class="btn-small col3">Retour</a>
  	</div>
</form>

{% include 'footer.twig' %}