body {
  background-color: #C6E2FF; }

header {
  background-color: black; }
  header img {
    width: 50%; }
  header .alignementcenter input, header .alignementcenter img, header .alignementcenter .col3 {
    vertical-align: middle; }
  header strong {
    color: white; }

.retour {
  margin-top: 1em; }

.type {
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em; }

section {
  margin-top: 6em; }

.flex-container {
  display: flex;
  flex-direction: column; }
  .flex-container li {
    border: 1px solid grey;
    list-style: none;
    text-align: center; }
  .flex-container a {
    display: block; }
  .flex-container ul {
    padding-left: 0; }

section form {
  margin-top: 1em; }
  section form input {
    margin-bottom: 1em; }
  section form select {
    margin-bottom: 1em; }

section div.contenu {
  background-color: white; }
  section div.contenu img {
    width: 20%;
    vertical-align: middle; }

button.btn-small {
  font-size: 20px;
  font-family: serif;
  line-height: 20px; }

footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  background-color: #C6E2FF;
  display: block; }

.inscr {
  visibility: hidden; }

a {
  text-decoration: none; }

@media screen and (min-width: 25em) {
  .flex-container {
    flex-direction: row;
    justify-content: center; }
    .flex-container li {
      border: none; }

  form.col8 {
    width: 75%;
    margin-left: 12.5%; }

  form input, form select {
    font-size: 1em; }

  .navbar li a {
    border: none; }

  header img {
    width: 25%; }

  section div.contenu img {
    width: 15%; }

  section {
    margin-top: 4em; } }
@media screen and (min-width: 50em) {
  .flex-container {
    justify-content: space-around; }

  form.col8 {
    width: 50%;
    margin-left: 25%; }

  body.col8 {
    width: 80%;
    margin-left: 10%; }

  section div.contenu img {
    width: 12.5%; } }

/*# sourceMappingURL=style.css.map */
