.valide{
	width: auto;
	background-color: $vert-succes;
	color: $vert-fonce;
	border: 2px solid $vert-fonce;
	background-image: url(images/valide.png);
	background-repeat: no-repeat;
	background-position: 0.25em;
	background-size: contain;
	text-indent: 0em;
	padding-left: 2em;
}

.info{
	width: auto;
	background-color: $bleu-info;
	color: $bleu-texte;
	border: 2px solid $bleu-texte;
	background-image: url(images/Info.png);
	background-repeat: no-repeat;
	background-position: 0.25em;
	background-size: contain;
	text-indent: 0em;
	padding-left: 2em;
}

.avertissement{
	width: auto;
	background-color: $orange-avert;
	color: $orange-fonce;
	border: 2px solid $orange-fonce;
	background-image: url(images/warning.png);
	background-repeat: no-repeat;
	background-position: 0.25em;
	background-size: contain;
	text-indent: 0em;
	padding-left: 2em;
}

.danger{
	width: auto;
	background-color: $rouge-danger;
	color: $rouge-fonce;
	border: 2px solid $rouge-fonce;
	background-image: url(images/error.png);
	background-repeat: no-repeat;
	background-position: 0.25em;
	background-size: contain;
	text-indent: 0em;
	padding-left: 2em;
}