@import 'var-content';

h1, h2, h3, h4, h5, h6
{
    color: $noir;
    font-family: Georgia,Times, 'Times New Roman' ,serif;
    font-weight: bold;
    margin-bottom: 0.25em;
}

h1{
    font-size: $ft-sz-titre;
}

h2{
    font-size: $ft-sz-titre - 0.25em;
}

h3{
    font-size: $ft-sz-titre - 0.5em;
}

h4{
    font-size: $ft-sz-titre - 0.75em;
}

h5{
    font-size: $ft-sz-titre - 1em;
}

h6{
    font-size: $ft-sz-titre - 1.25em;
}

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small
{
    color: $gris;
    font-size: 0.7em;
}

h1.sub{
    color: $gris;
    font-size: 1.75em;
}

h2.sub{
    color: $gris;
    font-size: 1.575em;
}

h3.sub{
    color: $gris;
    font-size: 1.4em;
}

h4.sub{
    color: $gris;
    font-size: 1.225em;
}

h5.sub{
    color: $gris;
    font-size: 1.05em;
}

h6.sub{
    color: $gris;
    font-size: 0.875em;
}

body{
    color: $noir;

}

p{
    margin-bottom: 12px;
    text-indent: $indent-p;
}

mark{
    background-color: $noir;
    color: $blanc;
}

del{
    text-decoration: double line-through;
    text-decoration-color: $gris;
}

ins, u{
    text-decoration: underline;
    text-decoration-color: $gris;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

abbr{
    text-decoration: none;
    border-bottom: 1px dashed;
    font-style: italic;
}

blockquote
{
    display: inline-block;
    font: 14px/20px "italic Times",serif;
    padding: 8px;
    background-color: $beige;
    border: 1px solid $beige-fonce;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
    background-image: url(images/openquote.gif);
    background-position: left top;
    background-repeat: no-repeat;
}

code{
    display: inline-block;
    font-style: italic; 
    font-family: "consolas";
    padding: 5px 10px 3px 20px;
    background-image: url(images/fond-code.png);
    margin: 10px;
    color: $bleu-ciel;    
    border-left: 2px solid $bleu-ciel;
    white-space: pre;
}

pre{
    display: inline-block;
    white-space: pre;
    font-family: "lucida sans unicode","lucida grande";
    background-image: url(images/fond-pre.png);
    margin: 5px;
    padding-left: 10px;
}

kbd{
    background-color: $blanc-casse;
    border-radius: 5px;
    border: 1px solid $gris-claire;
    font-family: Consolas;
    font-size: 0.85em;
    font-weight: 700;
    line-height: inherit;
    padding: 2px 4px;
    white-space: nowrap;
}

ul{
    //padding-left: 1em;
}

li{
    list-style-type: circle;
}

.li-clean{
    list-style-type: none;
}

.li-disc {
  list-style-type: disc; 
}

.li-square{
    list-style-type: square;
}

.alignementleft{
    text-align: left;
}

.alignementright
{
    text-align: right;
}

.alignementcenter
{
    text-align: center;
}

.alignementjustified
{
    text-align: justify;
}

.transformationMajuscule
{
    text-transform: uppercase;
}

.transformationMinuscule
{
    text-transform: lowercase;
}

.table{
    border: 1px solid $noir;
    border-collapse: collapse;
}

.th{
    background-color: #B2CCCC;
    border: 1px solid $noir;
    padding: 2px;
}

.tr:hover{
    font-weight: bold;
}

.td{
    border: 1px solid $noir;
    padding: 2px;
}

.table tr:nth-child(odd){
  background-color:$vert-pomme;
}
