body {
  background-color: #C6E2FF; }

form.col8 {
  width: 75%;
  margin-left: 12.5%; }

form {
  margin-top: 1em; }
  form input, form textarea {
    margin-bottom: 1em; }
  form select {
    margin-bottom: 1em; }

.imprime {
  margin-top: 2em; }

textarea {
  font-family: "MS Shell Dlg \32"; }

#btn {
  visibility: hidden; }

h5 {
  text-align: center; }

input.btn-xtlg, textarea.btn-xtlg {
  font-size: 28px;
  font-family: serif;
  line-height: 28px; }

header {
  background-color: black; }
  header img {
    width: 25%; }

div p {
  margin-top: 1.75em;
  font-weight: bold; }

section {
  margin-top: 2em; }

.largeur {
  width: 100%; }

.type {
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em; }

section div.contenu {
  background-color: white; }

.btn-blue {
  background-color: grey;
  margin-top: 0.25em; }

a {
  text-decoration: none; }

.gestion {
  margin-top: 0.25em;
  margin-bottom: 0; }

.vert {
  color: green; }

.rouge {
  color: red; }

footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  background-color: #C6E2FF;
  display: block; }

@media screen and (min-width: 50em) {
  body.col8 {
    width: 80%;
    margin-left: 10%; }

  form input, form textarea, form select {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
