body
{
	background-color: #C6E2FF;
}

header
{
	background-color: black;
	img
	{
		width: 50%;
	}
	.alignementcenter
	{
		input, img, .col3
		{
			vertical-align:middle;
		}
	}

	strong
	{
		color: white;
	}
}

.retour
{
	margin-top:1em;
}

.type
{
	border: 1px solid black;
	padding: 1em;
	margin-top:1em;
}

section
{
	margin-top:6em;
}

.flex-container 
{  
	display: flex;  
	flex-direction:column;    
	li{
		border: 1px solid grey;    
		list-style: none;
		text-align: center;  
	}  
	a{    
		display: block;  
	}  
	ul{    
		padding-left: 0;  
	}
}

section form
{
	margin-top: 1em;
	input{
		margin-bottom: 1em;
	}
	select{
		margin-bottom: 1em;
	}
}

section div.contenu
{
	background-color:white;
	img
	{
		width:20%;
		vertical-align:middle;
	}
}

button.btn-small{
	font-size: 20px;
	font-family: serif;
	line-height: 20px;
}

footer{
	text-align:center;
	padding: 1rem 0;
	width: 100%;
	background-color: #C6E2FF;
	display: block;
}

.inscr{
	visibility: hidden;
}

a{
	text-decoration: none;
}

@media screen and (min-width: 25em)
{
	.flex-container
	{
		flex-direction:row;
		justify-content:center; 
		li{
			border:none;
		}
	}
	form.col8
	{
		width: 75%;
		margin-left: 12.5%;
	}

	form input, form select{
		font-size: 1em;
	}
	.navbar li a{
		border: none;
	}

	header
	{
		img
		{
			width: 25%;
		}
	}
	section div.contenu
	{
		img
		{
			width:15%;
		}
	}
	section
	{
		margin-top:4em;
	}
}

@media screen and (min-width: 50em)
{
	.flex-container
	{
		justify-content:space-around;
	}
	form.col8
	{
		width: 50%;
		margin-left:25%;
	}
	body.col8
	{
		width: 80%;
		margin-left: 10%;
	}
	section div.contenu
	{
		img
		{
			width:12.5%;
		}
	}
}